#selected_post_widget_form #result_list li{
    width: 96%;
    border: 1px black solid;
    background: black;
    margin-bottom: 5px;
    color: white;
    padding: 10px 0px 10px 10px;
    
}

#selected_post_widget_form #result_list li .remove{
    
    float: right;
    margin-right: 10px;
}

.feature-post-widget{
    margin-bottom: 10px;
}

.feature-post-widget h1{
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 4px #0098CF solid;
    font-size: 20px;
}  

.feature-post-widget .feature-post .post-title{
    width: 100%;
    font-size: 18px;
    font-weight: bold;
}

.feature-post-widget .feature-post .post-date{
    float: left;
}

.feature-post-widget .feature-post .post-author{
    float: right;
}

.feature-post{
    clear: both;
    padding-bottom: 10px;
    float: left;
    width: 100%;
}